// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
    padding-top: 40px;
    margin: 0 60px;
}

.row .caption {
    text-align: center;
}
